

<div class="container2">   
    <h2>Blinkee Billing Details</h2>
    
 
<br>
  <!------------------------<form method="post" action="#">_________------------>
   
    <!-----<form method="post" action="#">--------->
      <div class="detail">
      First Name:*
      <input type="text" id="fnam" name="fName" required="required">
      </div>
      
      <div class="detail">
      Last Name:*
      <input type="text" id="lnam" name="lName" required="required">
      </div>
      
      <div class="detail">
      Company Name:*
      <input type="text" id="com" name="Company" required="required">
      </div>
      
      
      <div class="detail">
          Country:*
          <input type="text" id="coun" name="Street" required="required">
      </div>  
      <div class="detail">
        Street Address:*
        <input type="text" id="str" name="Street" required="required">
    </div> 
      <div class="detail">
          Town/City:*
          <input type="text" id="twn" name="City" required="required">
      </div>
      <div class="detail">
        Phone:*
        <input type="text" id="phn" name="Phone" required="required">
      </div>
      <div class="detail">
        Email Address:*
        <input type="text" id="mail" name="Email" required="required">
      </div>
      
      <div class="detail">
        <br>
        <p>If you don't have account?<a href="#" id="acc">Create an Account</a></p>
        <div class="required">
          <h3>* Indicates required feelds.</h3>
         </div> 
      </div>
      </div>
      
      
      <!--
      ---------------</form>------------------->
  
  
  <div class="container3">   
    <h2>Credit Card Details</h2>
    <h4>Pay with your card*</h4>

    <br>
  
  <!------------------------<form method="post" action="#">_________------------>
  
  <div class="detail">
  Card Number:*
  <input type="text" id="Card" name="cardNum" required="required">
  </div>
  
  <div class="detail">
  Expiry (MM/YY):*
  <input type="text" id="expdate" name="date" required="required">
  </div>
  
  <div class="detail">
  Card Code:*
  <input type="text" id="cardcode" name="code"required="required">
  </div>
  
  
  <div class="button">
    
    <button (click)="show()" onclick="validate()" type="submit" id="sub">Pay</button>
   
    <button type="Reset" id="res">Reset</button>
  
    <button type="Cancel" id="cal"> Cancel </button>
    
  </div>
  
  
  <div class="required">
  <h3>* Indicates required feelds.</h3>
  </div>
  
  </div>
