<div><img width="1519" height="500" src="assets/image/ship3.png" alt=""></div>

<div class="container2">
    <h2>Blnkee.com Shipping Policy</h2>

    <h4>To calculate shipping cost please add your items to your shopping cart then click calculate shipping in the shopping cart and add your zip code and state. The cart will tell you. Contact Magic Matt for manual shipping quotes.</h4>

    <p>Fedex Ground or US Priority Mail will be used for most shipments over one pound within the 48 contiguous states.</p>
    <p>Orders placed using “Ground” or “Express” shipping method ship the same day if placed before 12 pm PST.</p>
    <p>For express shipments after 12 pm PST please call to place your order.</p>
    <p>Orders placed using USPS may not ship the same day the order is placed and may not ship for up to 3 business days.</p>

    <h4>Please Note: Refunds for shipping delays will only be honored for expedited services, orders with ground or USPS shipping are not eligible for a shipping refund should a delay occur.  If a delay occurs when using any of our expedited shipping services, only a refund of the shipping charges paid will be given (per carriers service guide).</h4>
    
</div>